body
{
    padding: 10%;
    background-color: teal;
}
.form-login
{
    width: 350px;
    margin: auto;
    padding: 40px;
    border-radius: 30px;
    background-color: white;
}
.form-login .form-login-heading
{
    text-align: center;
    color: teal;
}
.form-login .form-control
{
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
}
.form-login .submit .button
{
    margin:auto;
}
.form-login .forgot_password
{
    font-size: 16px;
    text-align: center;
}
